DATABASE_URL=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_IP_WHITE_LIST=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
NEXT_PUBLIC_BASIC_AUTH_USERNAME=
NEXT_PUBLIC_BASIC_AUTH_PASSWORD=
NEXT_PUBLIC_BASE_URL=
